.header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar{
    padding: 20px 0;
    background-color: #EBCAFD;

}
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color:rgb(193, 84, 236);
}
.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}
.btn btn-outline-success{
    position:absolute;
    right:0;
}
.container{
    background-color: #EBCAFD;
}
.nav justify-content-center border-bottom pb-3 mb-3{
    font-weight: 100;
    color: blue;
}